/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_tree .
 //= stub active_admin
 //= stub scaffolds
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

::-webkit-scrollbar {
    width: 15px;

}

body{
  margin: 0 auto;
  padding: 0 auto;
/*    background: url(/system/imagelocal/bg.jpg); no-repeat center center fixed 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}


header, footer{
  margin-bottom: 0px !important; 
  background-color: #152F25 !important;
  opacity: 1;
  margin: 0 auto;
  padding: 0 auto;
}
header{
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.contents{
  background-color: white;
  min-height: 1000px;
  position: relative;
  margin-top: 74px;
  left: 0;
  right: 0;
}
footer{
  position: relative;
}
.image-article{
  width: 100%;
}

nav {
    max-width:1200px;
    margin: 0 auto;
    -ms-transform: skewX(-20deg); /* IE 9 */
    -webkit-transform: skewX(-20deg); /* Safari */
    transform: skewX(-20deg); /* Standard syntax */

}

nav .menu-top {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  float: right;
  -ms-transform: skewX(20deg); /* IE 9 */
  -webkit-transform: skewX(20deg); /* Safari */
  transform: skewX(20deg); /* Standard syntax */

}
nav .menu-top a {
  padding: 12px;
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: 600;

}

nav .menu-top a:active {
  background-color: red;
}


.actions-show{
  background-color: black;
  height: 30px;
}
.actions-show a{
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  background-color: red;
  display: inline-block;
  text-align: center;
  color: black;
  font-weight: 600;
}
textarea{
  min-height: 300px;
}
footer p {
  color: white;
}
#comments{
  background-color: white;
  border-radius: 2px;
}
.notice{
  background-color: black;
  color: black;
}
.even-bg{
  background-color: wheat;
}

p:nth-child(odd) {
    background-color: rgb(231, 231, 231);
}
#main-content{
  padding-left:0;
  padding-right:0;
  margin-top: 10px;
}
input{
  max-width: 300px;
}




